# Environment Variables Template untuk Supabase & Vercel
# Ganti dengan Project URL dan Anon Public Key dari Dashboard Supabase Anda:
# https://supabase.com/dashboard/project/_/settings/api

VITE_SUPABASE_URL=https://vtxaggxclmqzeknksrat.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ0eGFnZ3hjbG1xemVrbmtzcmF0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTEzODIwMTAsImV4cCI6MjEwNjk1ODAxMH0.IDBtUrGl3AAGBP8GmwK2Zh-_8pGgWVgN9CjMT3CtRNQ
